.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.grid {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}