body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promptUser {
    margin: 20px;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.gridBorder {
    border: 1px solid black;
}

.grid {
    display: flex;
    height: 50px;
    width: 50px;
}

